@model IEnumerable<DoAn.Models.KhachHang>
@*@model PagedList.IPagedList<DoAn.Models.SanPham>
    @using PagedList.Mvc;
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section naviheader{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="~/Admin/Home" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/KhachHangs" class="nav-link">Tài khoản</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <!-- Navbar Search -->
        <li class="nav-item">
            <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                <i class="fas fa-search"></i>
            </a>
            <div class="navbar-search-block">
                <form class="form-inline">
                    <div class="input-group input-group-sm">
                        <input class="form-control form-control-navbar" type="search" placeholder="Từ khóa tìm kiếm" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-navbar" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                            <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
                <i class="far fa-comments"></i>
                <span class="badge badge-danger navbar-badge">3</span>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
                <i class="far fa-bell"></i>
                <span class="badge badge-warning navbar-badge">15</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                <i class="fas fa-expand-arrows-alt"></i>
            </a>
        </li>
    </ul>
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="~/Admin/Home">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Quản lý tài khoản</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><b>Danh sách tài khoản</b></h3>

            <div class="card-tools">
                <a href="/admin/khachhangs/create" class="btn btn-primary">Thêm mới</a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-hover text-center">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Họ tên</th>
                        <th>Điện thoại</th>
                        <th>Email</th>
                        <th>Mật khẩu</th>
                        <th style="width: 300px">Địa chỉ</th>
                        <th>Chức vụ</th>
                        <th>Trạng thái</th>
                        <th>Thực hiện</th>
                    </tr>
                </thead>
                @if (Model != null && Model.Any())
                {
                    var i = 1;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @i
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.hoten)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.dienthoai)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.matkhau)
                            </td>
                            <td>
                                @*Html.DisplayFor(modelItem => item.diachi)*@
                                @{ 
                                    string dc = " " + item.thon + ", " + item.xa + ", " + item.huyen + ", " + item.tinh;
                                }
                                @dc
                            </td>
                            @if (item.chucvu == true)
                            {
                                <td>
                                    Nhân viên
                                </td>
                            }
                            else
                            {
                                <td>Khách hàng</td>
                            }

                            @if (item.trangthai == true)
                            {
                                <td class="text-danger">
                                    Khóa
                                </td>
                            }
                            else
                            {
                                <td class="text-success">Hoạt động</td>
                            }
                            <td>
                                <a href="/admin/khachhangs/edit/@item.makhachhang" class="btn btn-primary">Sửa</a>
                                @*<a href="/admin/khachhangs/delete/@item.makhachhang" class="btn btn-danger">Xóa</a>*@
                                <input type="button" data-id="@item.makhachhang" class="delete btn btn-danger" value="Xóa" />
                            </td>
                        </tr>
                        i++;
                    }
                }
                else
                {
                    <tr>
                        <td colspan="4">Không có bản ghi nào!!!</td>
                    </tr>
                }
            </table>
        </div>
    </div>
    @*<div class="text-center">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>*@

</section>

<script>
    $(document).ready(function(){
        $('.delete').click(function () {
            var customerId = $(this).data('id');
            if (confirm("Bạn có chắc muốn xóa tài khoản này?")) {
                $.ajax({
                    url: '@Url.Action("DeleteConfirmed", "KhachHangs")',
                    type: 'POST',
                    data: { id: customerId },
                    success: function (result) {
                        if (result.success) {
                            alert("Xóa thành công");
                            window.location.reload();
                        }
                        else {
                            alert("Xóa tài khoản thất bại");
                        }
                    },
                    Error: function () {
                        alert("Đã xảy ra lỗi!");
                    }
                });
            }
        });
    });
</script>