@model IEnumerable<DoAn.Models.DonHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Đơn Hàng</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="cart">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-cart table-mobile">
                            <thead>
                                <tr>
                                    <th>Họ Tên</th>
                                    <th>Điện Thoại</th>
                                    <th>Địa Chỉ</th>
                                    <th>Ngày Đặt</th>
                                    @*<th>Hình Thức Thanh Toán</th>*@
                                    <th>Tổng Tiền</th>
                                    <th>Trạng Thái</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                @if (Model != null && Model.Any())
                                {
                                    foreach (var item in Model)
                                    {
                                        if (item.makhachhang.ToString() == Session["ma"].ToString())
                                        {
                                            @*<tr class="donhangchitiet" data-donhang-id="@item.madonhang">*@
                                            <tr>
                                                <td>@item.KhachHang.hoten</td>
                                                <td>@item.dienthoai</td>
                                                <td>@item.diachi</td>
                                                <td>
                                                    @{
                                                        string date = item.ngaydat.ToString("dd/MM/yyyy");
                                                    }
                                                    @date
                                                </td>
                                                @*<td>@item.thanhtoan</td>*@
                                                <td>
                                                    @{
                                                        if (item.tongtien == null)
                                                        {
                                                            item.tongtien = 0;
                                                        }
                                                        decimal total = (decimal)item.tongtien;
                                                        string totalformat = total.ToString("#,##0");

                                                    }
                                                    @totalformat đ
                                                </td>

                                                @if (item.trangthai == false)
                                                {
                                                    <td class="text-primary">Đang giao</td>
                                                }

                                                else if (item.trangthai == true)
                                                {
                                                    <td class="text-success">Đã giao</td>
                                                }
                                                else
                                                {
                                                    <td class="text-danger">Đã hủy</td>
                                                }
                                                <td class="remove-col"><a href="~/DonHangs/ChiTietDonHang/@item.madonhang" class="btn-remove"><ion-icon name="ellipsis-vertical-outline"></ion-icon></a></td>
                                            </tr>
                                        }
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="8"><h5>Bạn chưa có đơn hàng nào !</h5></td>
                                    </tr>
                                }
                            </tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<style>
    .donhangchitiet:hover
    {
        cursor: pointer;
    }
</style>

@*<script>
    $(document).ready(function() {
        $('.donhangchitiet').click(function() {
            var OrderId = $(this).data('donhang-id');
            // Gửi yêu cầu thêm sản phẩm vào giỏ hàng bằng AJAX
            $.ajax({
                url: '@Url.Action("ChiTietDonHang", "DonHangs")',
                type: 'POST',
                data: { id: OrderId },
                success: function(result) {
                    if (result.success) {
                        // Xử lý khi thêm thành công
                        window.location.href = '/DonHangs/ChiTietDonHang/' + OrderId;

                    }
                },
                error: function() {
                    // Xử lý khi có lỗi xảy ra trong quá trình gửi yêu cầu
                    alert('Đã xảy ra lỗi!');
                }
            });

        });
});
</script>*@